.input {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--input-size, 2em) * 0.66);
    line-height: 1em;
    height: var(--input-height);
    padding: 0.2em 0.4em;
    border: 1px solid var(--darkest);
    color: var(--input-color);
    background-color: var(--darkest);
}

.input:focus {
    border: 1px solid var(--focus-color);
    outline: none 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.checkbox + label {
    cursor: pointer;
}