.iconRoundButton::-moz-focus-inner {
  border: 0;
}

$buttonSize: 2.5em;
$buttonInnerSize: 1.4em;
$buttonRoundSize: 2.0em;
$buttonRoundInnerSize: 1.2em;
.btn {

  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  // border-radius: 50%;
  outline: none;
  border: 1px solid $button-border;
  background-color: $button-color;
  position: relative;
  height: $buttonSize;
  width: $buttonSize;
  box-shadow: 0;
  svg {
    color: $button-text;
    position: absolute;
    top: 50%;
    left: 50%;
    stroke-width: 2.5;
    height: $buttonInnerSize;
    width: $buttonInnerSize;
    margin-top: -$buttonInnerSize / 2;
    margin-left: -$buttonInnerSize / 2;
  }
  //
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(lighten($primary-color, 30%), 0.1);
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0;
  }
  &:active {
    background-color: $primary-color;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0;
    svg {
      color: $darkest;
    }
  }
  &:focus {
    // box-shadow: 0 0 0 1px $focus-color;
    border: 1px solid $focus-color;
  }
}
.btn.round {
  border-radius: 50%;
  height: $buttonRoundSize;
  width: $buttonRoundSize;
  background-color: rgba(lighten($primary-color, 30%), 0.1);
  border: 1px solid transparent;
  svg {
    color: $light;
    stroke-width: 4;
    height: $buttonRoundInnerSize;
    width: $buttonRoundInnerSize;
    margin-top: -$buttonRoundInnerSize / 2;
    margin-left: -$buttonRoundInnerSize / 2;
  }
  &:hover {
    background-color: rgba($darkest, 0.65);
    // border: 1px solid transparent;
    border: 1px solid $button-border;
    svg {
      color: $primary-color;
    }
  }
  &:focus {
    // box-shadow: 0 0 0 1px $focus-color;
    border: 1px solid $focus-color;
  }
  &:active {
    background-color: $primary-color;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0;
    svg {
      color: $darkest;
    }
  }
}
