


// https://codepen.io/aaroniker/pen/ZEYoxEY
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  $height: 20px;
  $border-width: 1px;
  $radio-height: 8px;
  $inner-height: $height * 0.4;
  $switch-width: $height * 1.6;
  $switch-inner-height: $height * 0.6;
  input[type='checkbox'],
  input[type='radio'] {
    --active: #{$dark};
    --active-inner: #{$primary-color};
    --focus: 2px #{$primary-color};
    --border: #{$light};
    --border-hover: #{$primary-color};
    --background: #{$dark};
    --disabled: #222;
    --disabled-inner: #f40;
    -webkit-appearance: none;
    -moz-appearance: none;
    //--height: 18px;
    //--border-width: 1px;
    //--radio-height: calc(var(--height) * 0.43);
    //--inner-height: calc(var(--height) * 0.5);
    //--switch-width: calc(var(--height) * 1.6);
    //--switch-inner-height: calc(var(--height) * 0.6);
    --d-t: .6s;
    //
    height: $height;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: $border-width solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--border);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: none;
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: none;
        --bc: var(--border);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: $height;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 20%;
      &:after {
        width: $inner-height;
        height: $inner-height;
        border: $height/6 solid var(--ab);
        box-sizing: border-box;
        border-top: 0;
        border-left: 0;
        transform: rotate(var(--r, 20deg));
        //--aaa: calc((var(--height) - var(--inner-height))/2);
        //--bbb: calc((var(--height) - var(--inner-height)*1.5)/2);
        //left: calc(var(--aaa) - var(--border-width));
        //top: calc(var(--bbb) - var(--border-width));
        left: ($height - $inner-height) / 2 - $border-width;
        top: ($height - $inner-height * 1.5) / 2 - $border-width;
      }

      &:checked {
        --r: 45deg;
        --ab: var(--active-inner);
      }

      &:disabled {
        --ab: var(--border);
      }
    }

    &.switch {
      width: $switch-width;
      border-radius: $height / 2;

      &:after {
        //--aaaa: calc((var(--height) - var(--switch-inner-height))/2);
        //--bbbb: calc((var(--height) - var(--switch-inner-height))/2);
        //left: calc(var(--aaaa) - var(--border-width));
        //top: calc(var(--bbbb) - var(--border-width));
        left: ($height - $switch-inner-height) / 2 - $border-width;
        top: ($height - $switch-inner-height) / 2 - $border-width;
        border-radius: 50%;
        width: $switch-inner-height;
        height: $switch-inner-height;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        $dd: $switch-width - $height;
        --x: #{$dd};
      }
      &:disabled {
        --ab: var(--border);

        &:not(:checked) {
          &:after {

          }
        }
      }
    }
  }

  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: $radio-height;
      height: $radio-height;
      //--ccc: calc((var(--height) - var(--radio-height))/2);
      //--ddd: calc((var(--height) - var(--radio-height))/2);
      //left: calc(var(--ccc) - var(--border-width));
      //top: calc(var(--ddd) - var(--border-width));
      left: ($height - $radio-height) / 2 - $border-width;
      top: ($height - $radio-height) / 2 - $border-width;
      border-radius: 50%;
      background: var(--ab);
      opacity: 0;
      //transform: scale(var(--s, .7));
    }

    &:checked {
      --ab: var(--active-inner);
      --s: .5;
    }

    &:disabled {
      --ab: var(--border);
    }
  }
}
