$darkest: rgb(32, 33, 36);
$dark: rgb(42,42,45);
$dark-light: rgb(62,62,65);
$dark-line: rgb(62,62,65);
$light: rgb(154, 160, 166);
$lighter: rgb(232, 234, 237);
//
$primary-color: hsl(210, 81%, 61%);
$focus-color: hsl(210, 81%, 61%);
//

$button-color: transparent;
$button-text: $primary-color;
$button-border: rgba($light, 0.7);
//
$input-color: $lighter;
$input-background-color: $darkest;

//
@import "ui/button";
@import "ui/input";
@import "ui/checkbox";

.pr1 {
  padding-right: 1em;
}
body {
  margin: 0;
  padding: 0;
  background-color: $darkest;
  font-size: 12px;
}
.main {
  font-size: 1em;
  color: $light;
  .content {
    background-color:  $dark;
    max-width: 680px;
    padding: 2em;
    margin: auto;

    .title {
      display: flex;
      align-items: center;
      padding: 1em 0 3em 0;
      img {
        padding-right: 0.5em;
        margin-top: 4px;
      }
      h1 {
        // color:  $lighter;
        padding: 0;
        margin: 0;
        font-size: 2em;
        line-height: 1em;
      }
    }
    .add-block {
      padding: 1em 1.6em;
      background-color:  $dark-light;
      .lbl {
        margin-bottom: 1em;
      }
      .input-submit {
        display: flex;
        align-items: center;
      }
    }
    .ban-list-info {
      // border-top: 1px solid $darkest;
      padding: 2em 1.6em 1em 1.6em;
      background-color:  $dark-light;
      color: $lighter;
    }
    .ban-list-section {
      background-color:  $dark-light;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          display: flex;
          align-items: center;
          // border-top: 1px solid $darkest;
          background-color:  $dark-light;
          padding: 0.6em 1.6em 0.6em 1.6em;
          .lbl {
            font-family: "Courier New", Courier, monospace;
            font-size: 2em;
            color: $lighter;
            line-height: 1em;
            padding-right: 0.3em;
          }
        }
        li:nth-child(odd) {
          background-color:  lighten($dark-light, 7);
        }
      }
    }
    .json-section {
      display: flex;
      align-items: center;
      background-color: $dark-light;
      padding: 3em 0 0 0;
      .json-options {
        padding: 1em;
        .drop-area-container {
          background-color: lighten($dark-light, 7);
          padding: 0.5em;
          .drop-area {
            background-color: lighten($dark-light, 7);
            border: 1px dashed $button-border;
            padding: 0.5em;
            .area-content {
              display: flex;
              align-items: center;
              .title {
                padding: 0 1em 0 1em;
              }
            }
          }
        }
        .download-container {
          display: flex;
          align-items: center;
          .title {
            padding: 0 1em 0 1em;
          }
        }
      }
    }
    .options {
      padding: 1.6em;
      display: flex;
      align-items: center;
    }

  }
}
.footer {
  font-size: 1em;
  color: $light;
  .content {
    background-color:  $dark;
    max-width: 680px;
    padding: 2em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .author-container {
      a {
        color: $lighter;
        text-decoration: none;
      }
    }
    .icon {
      margin-left: 1em;
    }
  }
}
